@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;

}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

body::before
{
    content: '';
    position: absolute;
    inset : 0;
    background :url(1.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    
}

body::after
{
    content: '';
    position: absolute;
    inset : 0;
    background :url(2.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: 0.9s;
    
}

body.signup::after{
    opacity: 1;
}

.cointainer{
    position: relative;
    width: 350px;
    height: 340px;
    border-radius: 15px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: 0.5s;
    overflow: hidden;
}


body.signup .cointainer{
    height: 440px;

}

.cointainer::before{
    content: '';
    position :absolute;
    width: 100%;
    height: 100%;
    background: repeating-conic-gradient(from var(--a),#e65c21 0%, #d76f29 10%, transparent 10% ,transparent 80% , #d76f29 100%);
    border-radius: 20px;
    animation: animate 9.5s linear infinite;
}

body.signup .cointainer::before{
    filter: hue-rotate(240deg);

}

@property --a{
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;

}
@keyframes animate {
    0%
    {
        --a : 0deg
    }

    100%{
        --a : 360deg
    }
}


.cointainer span{
    position: absolute;
    inset: 5px;
    overflow: hidden;
    border-radius: 15px;
}

.cointainer span::before{
    content: '';
    position: absolute;
    inset: 5px;
    border-radius: 15px;
    background: url(1.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    filter: blur(9px);
}

.cointainer span::after{
    content: '';
    position: absolute;
    inset: 5px;
    border-radius: 15px;
    background: url(1.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    filter: blur(15px);
}

body.signup .cointainer span::before,
body.signup .cointainer span::after
{
    background: url(2.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    filter: blur(9px);
}



form{
    position: absolute;
    left :0;
    display : flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap : 15px;
    transition: 0.1s;


}

form#signupform{
    left: 100%;
}

body.signup form#signinform{
    left: -100%;
}

body.signup form#signupform{
    left: 0%;
}



form h2{
    position: relative;
    color: #fff;
    font-size: 1.5em;
    /* font-family: 'Poppins', serif; */
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 10px ;

}

form .inputBox{
    position: relative;
    width: 70%;
    display: flex;
    justify-content: space-between;

}


form .inputBox a{
    color: #fff;
    text-decoration: none;
    font-size: 0.85em;

}

form .inputBox a:nth-child(2){
    text-decoration: underline;
}

form .inputBox input{
    width: 100%;
    outline: none;
    border : none;
    background: rgba(0, 0, 0, 0.15);
    padding: 6px,15px;
    border-radius: 4px;
    font-size: 0.85em;
    color: #fff;


}

form .inputBox input::placeholder {
    color: rgba(255,255,255,255,0.5);

}

form .inputBox input[type = "submit"]{
    background-color: #2196f3;
    font-weight: 600;
    cursor: pointer;
}

form#signupform .inputBox input[type = "submit"]{
    background-color: #6421f3;
    font-weight: 600;
    cursor: pointer;
}